.button {
  appearance: none;
  background: var(--primary-color);
  border: 0.5px solid rgba(27, 31, 35, .1);
  border-radius: 0.5rem;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 20px;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.ghost {
  background: transparent;
  border: 0.5px solid var(--primary-color);
  color: var(--primary-color);
}

.success {
  background: #28A745;
}

.danger {
  background: #DC3545;
}

/* .button:hover {
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
} */

.button:disabled {
  background-color: grey;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

/* .button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
} */