.table {
  white-space: nowrap;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  background: var(--sidebar-background);
}

.thead {
  background-color: rgba(255, 255, 255, 0.2);
}

.thead .th {
  padding: 0.8rem;
  font-size: 16px;
  color: #000;
}

.tbody .tr {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease;
}

.tbody .tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tbody .td {
  padding: 10px;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.td .img {
  width: 10rem;
  height: 10rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.tdActions {
  padding: 10px;
  font-size: 14px;
  color: #000;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: auto;
}