:root {
  --white: #FFFFFF;
  --sidebar-background: #FCFCFD;
  --primary-color: #986B42;
  --background: #C7D2DC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans' ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--background);
}